.main {
    background-color: rgb(155, 92, 136);
    margin: 0%;
    padding: 0%;
}
.nav {
    margin-bottom: 50px;
}

.listItem {
    display: flex;
    border-bottom: 3px solid rgb(90, 17, 68);
    padding: 10px;
    text-decoration: none;
    align-items: center;
    background-color: rgb(155, 92, 136);

}

.listItem > :first-child {
    margin-right: 15px;
}

.listItem > :last-child {
    margin: 0;
}

.listItemIcon {
    width: 2rem;
    height: 2rem;
    object-fit: contain;
}

.listItemText {
    flex-grow: 2;
}

.listItemText > :first-child {
    background: -webkit-linear-gradient(
    rgba(124, 166, 252, 1) 25%,
    rgba(119, 235, 129, 1) 100%
    );
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 1rem;
    display: block;
    margin-bottom: 11px;
    font-weight: bold;
}

.listItemText > :last-child {
    color: rgb(68, 67, 67);
    font-weight: bolder;
    font-size: 0.8rem;
    display: block;
}